html,body {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

#root{
  height: 100%;
  width: auto;
}
button,a{
  outline: none !important;
}

* {
  box-sizing: border-box;
  outline: none;
}

a{
  text-decoration: none;
}

.center-t {
text-align: center
}

@media(max-width: 767px){
  .center-t-sm{
    text-align: center;
  }
}

input:required,textarea:invalid {
  box-shadow:none;
}
input:invalid,textarea:invalid {
  box-shadow:none;
}

input[type='submit'],button{
  cursor: pointer;
}

button:disabled, input:disabled {
  background: #cbd3da !important;
  color: white !important;
  cursor: not-allowed !important;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
list-style-type: none;
}

.barely-visible{
  height: .01px;
  width: .01px;
  overflow: hidden;
}