.center-wrapper {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}

.center {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

* {
  font-family: "Acumin Pro", sans-serif;
  color: #444;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: auto;
  overflow: auto;
}
button,
a {
  outline: none !important;
}

* {
  box-sizing: border-box;
  outline: none;
}

*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(35, 33, 42, 0.4878);
}

a {
  text-decoration: none;
}

.center-t {
  text-align: center;
}

@media (max-width: 767px) {
  .center-t-sm {
    text-align: center;
  }
}

input:required,
textarea:invalid {
  box-shadow: none;
}
input:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

button:disabled,
input:disabled {
  background: #cbd3da !important;
  color: white !important;
  cursor: not-allowed !important;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.barely-visible {
  height: 0.01px;
  width: 0.01px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: #0a1f46;
}

.init-load {
  padding: 0 1.5em;
}
.init-load h1 {
  font-size: 1em;
  text-align: center;
  color: #0a2c56;
  font-weight: 500;
}

.init-load p {
  color: #3d3d3d;
  font-size: 1em;
  font-weight: 300;
}

.init-load img {
  height: 12em;
  width: 12em;
}


*{
  -webkit-overflow-scrolling: touch;
}