html, body {
	height: 100%;
}

.bottom-fixed {
	background-color: #055;
	bottom: 0;
	left: 0;
	min-height: 100px;
	position: absolute;
	width: 100%;

}

.projects-container {
	margin-bottom: 200px;
}


.projects-map {
	background-color: white;
	height: 100%;
	position: absolute;
	right: -24px;
	top: 0;
	width: 500px;
	z-index: 2;
}

@media (max-width: 1200px){
	.projects-container {
		margin-bottom: 300px;
	}
	.projects-map {
		bottom: 0;
		left: 0;
		position: initial;
		right: initial;
		top: initial;
		width: 100%;
	}
}