/* font */

.color-accent1 {
  color: #cb7c3c;
}

.color-accent2 {
  color: #6e6b6a;
}

.color-accent3 {
  color: #424e7b;
}

/* background */
.bg-accent1 {
  background-color: #cb7c3c;
}

.bg-accent2 {
  background-color: #6e6b6a;
}

.bg-accent3 {
  background-color: #424e7b;
}